.navbar {
    background-color: #d9ae5f;
    color: #2b2b2b;
    height: 56px;
}

.user-info {
    width: 230px;

    p {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
}

.nested-panel {
    // margin-left: 20px;
    box-shadow: none !important;

}

.mat-expansion-panel-header mat-icon {
    margin-right: 10px;
}

::ng-deep .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
}

a.active {
    background: #fcf8ef !important;
    color: #d9ae5f !important;
    border: 1px solid #faefd6;
}
a.active span{
    color: #d9ae5f !important;
}

a.active mat-icon {
    color: #d9ae5f !important;
}

