<div style="overflow-x: hidden;height: 100%;">
    <mat-toolbar class="navbar">
        <div style="display: flex;align-items: center;">
            <a><img src="logo/HL_logo.png" alt="" width="30" height="30" style="border-radius: 50px;"></a>
            <span style="margin-left: 5px;"><b>Luxuria</b></span>
        </div>
    </mat-toolbar>
    <mat-nav-list class="sidenav-list">
        <ng-container *ngFor="let item of menuItems">
            <a *ngIf="!item.subMenuItems?.length" mat-list-item [routerLink]="item.routerLink" routerLinkActive="active"
                class="top-item" (click)="onToggleClose()">
                <mat-icon>{{item.icon}}</mat-icon>
                <span style="font-size: 14px;padding-left: 10px;">{{item.title}}</span>
            </a>
            <mat-expansion-panel *ngIf="item.subMenuItems?.length" class="mat-elevation-z0">
                <mat-expansion-panel-header style="padding: 0px 15px;">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span style="font-size: 14px;font-weight:normal;">{{item.title}}</span>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <ng-container *ngFor="let child of item.subMenuItems">
                        <a mat-list-item [routerLink]="child.routerLink" routerLinkActive="active"
                            (click)="onToggleClose()">
                            <span style="font-size: 35px;">•</span>
                            <span style="font-size: 14px;padding-left: 10px;">{{child.title}}</span>
                        </a>
                    </ng-container>
                </mat-nav-list>
            </mat-expansion-panel>
        </ng-container>
    </mat-nav-list>
</div>