<h1 mat-dialog-title>New Shift</h1>
<div mat-dialog-content class="bgsecondary">
    <form class="row">
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Shift Name</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Start Time</mat-label>
                <input matInput [matTimepicker]="StartTime" (focus)="StartTime.open()" (click)="StartTime.open()">
                <mat-timepicker-toggle matIconSuffix [for]="StartTime" />
                <mat-timepicker #StartTime />
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">End Time</mat-label>
                <input matInput [matTimepicker]="EndTime" (focus)="EndTime.open()" (click)="EndTime.open()">
                <mat-timepicker-toggle matIconSuffix [for]="EndTime" />
                <mat-timepicker #EndTime />
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Status</mat-label>
                <mat-select required>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="bgaccent">Save</button>
    <button mat-raised-button [mat-dialog-close]="true" class="bgsecondary">Close</button>
</div>