<h1 mat-dialog-title>New Room</h1>
<div mat-dialog-content class="bgsecondary">
    <form class="row">
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Room No</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Floor</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Cleaning Status</mat-label>
                <mat-select required>
                    <mat-option value="Scheduled">Scheduled</mat-option>
                    <mat-option value="In Progress">In Progress</mat-option>
                    <mat-option value="Completed">Completed</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Scheduled Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Scheduled Time</mat-label>
                <input matInput type="time" required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Staff</mat-label>
                <mat-select required>
                    <mat-option *ngFor="let Staff of StaffList" [value]="Staff.Name">{{Staff.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Completion Time</mat-label>
                <input matInput type="time" required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Notes</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Priority</mat-label>
                <mat-select required>
                    <mat-option value="Standard">Standard</mat-option>
                    <mat-option value="High">High</mat-option>
                    <mat-option value="Low">Low</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Cleaning Type</mat-label>
                <mat-select required>
                    <mat-option value="Full Clean">Full Clean</mat-option>
                    <mat-option value="Light Clean">Light Clean</mat-option>
                    <mat-option value="Deep Clean">Deep Clean</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="bgaccent">Save</button>
    <button mat-raised-button [mat-dialog-close]="true" class="bgsecondary">Close</button>
</div>