.salary-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top: 5px solid #6B5B95;
  border-radius: 5px;
}
.checklist-card{
  max-height: 300px;
  overflow: auto;
}

.checklist-item {
  padding: 12px 0;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  margin: 0px 10px;
}

.checklist-item:last-child {
  border-bottom: none;
}

.checklist-checkbox {
  margin-right: 12px;
  cursor: pointer;
  flex-shrink: 0;
  transform: scale(1.2);
  accent-color: #6B5B95;
}

.checklist-label {
  color: #444;
  cursor: pointer;
  position: relative;
  transition: color 0.4s ease-in-out;
  display: inline-block;
  width: fit-content;
}

.checklist-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6B5B95;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.checklist-checkbox:checked + .checklist-label {
  color: #aaa;
}

.checklist-checkbox:checked + .checklist-label::after {
  transform: scaleX(1);
}

.high{
  color: #a12404;
}

.low{
  color: #a88d51;
}

.normal{
  color: #7a7a7a;
}