mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 300px;
  background-color: #ffffff;
}


mat-sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

app-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

  main {
    flex: 1;
    overflow-y: auto;
  }
}