<div class="salary-card pb-2">
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <h5 class="mb-0">Leave Balance</h5>
        </div>
        <div>
            <a class="textlink">View All</a>
        </div>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="leave-card">
        <div class="result-option result-option-Privilege">
            <div class="leave-box">
                <span class="Privilege-icon-text">Privilege Leave</span>
            </div>
            <div class="result-box"><span>6</span> / 10</div>
        </div>
        <div class="result-option result-option-Casual">
            <div class="leave-box">
                <span class="Casual-icon-text">Casual Leave</span>
            </div>
            <div class="result-box"><span>4</span> / 10</div>
        </div>
        <div class="result-option result-option-Sick">
            <div class="leave-box">
                <span class="Sick-icon-text">Sick Leave</span>
            </div>
            <div class="result-box"><span>7</span> / 15</div>
        </div>
        <div class="result-option result-option-Personal">
            <div class="leave-box">
                <span class="Personal-icon-text">Personal Leave</span>
            </div>
            <div class="result-box"><span>2</span> / 5</div>
        </div>
        <div class="result-option result-option-Unpaid">
            <div class="leave-box">
                <span class="Unpaid-icon-text">Unpaid Leave</span>
            </div>
            <div class="result-box"><span>3</span> / 7</div>
        </div>
        <div class="result-option result-option-Maternity">
            <div class="leave-box">
                <span class="Maternity-icon-text">Maternity Leave</span>
            </div>
            <div class="result-box"><span>2</span> / 12</div>
        </div>
    </div>
</div>