<div class="salary-card">
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <h5 class="mb-0">My Profile</h5>
            <p class="text-muted" style="font-size: 12px;"><span class="text-success">75%</span> Completed
                your profile.</p>
        </div>
        <div>
            <button matIconButton>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
    <div class="profile-card">
        <img src="users/avatar.svg" class="employeeimg">
    </div>
    <div class="text-center">
        <h4 class="mb-0">Sarah Smith</h4>
        <p class="text-muted">Manager</p>
    </div>
    <div class="stats mb-2">
        <p class="flex flex-col">
            <i class="fa-solid fa-trophy mb-1" style="font-size: 20px;"></i>
            <span class="state-value">
                10 Achiveve
            </span>
        </p>
        <p class="flex">
            <mat-icon class="mb-1" style="font-size: 25px;">supervisor_account</mat-icon>
            <span class="state-value">
                2 Team
            </span>
        </p>
    </div>
    <div class="d-flex p-1 mt-2">
        <div class="flex-grow-1">
            <p class="mb-0"><b>Ongoing Task</b></p>
        </div>
        <div>
            <a class="textlink">View All</a>
        </div>
    </div>
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <p class="text-muted" style="font-size: 12px;"><b>Oct 21, 2021</b></p>
        </div>
        <div>
            <button matIconButton>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
    <div class="stepper-box">
        <div class="stepper-step">
            <div class="stepper-circle"></div>
            <div class="stepper-line"></div>
            <div class="stepper-content">
                <div class="stepper-title">10:00</div>
                <div class="stepper-status">Team Meeting</div>
                <div class="stepper-time">Team meeting regarding new guest..</div>
            </div>
        </div>
        <div class="stepper-step">
            <div class="stepper-circle"></div>
            <div class="stepper-line"></div>
            <div class="stepper-content">
                <div class="stepper-title">14:30</div>
                <div class="stepper-status">Arranging reservations</div>
                <div class="stepper-time">Meeting with client regarding reservation</div>
            </div>
        </div>
    </div>
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <p class="text-muted" style="font-size: 12px;"><b>Oct 22, 2021</b></p>
        </div>
        <div>
            <button matIconButton>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
    <div class="stepper-box">
        <div class="stepper-step">
            <div class="stepper-circle"></div>
            <div class="stepper-line"></div>
            <div class="stepper-content">
                <div class="stepper-title">12:30</div>
                <div class="stepper-status">Room Cleaning Check</div>
                <div class="stepper-time">Check all room for proper cleaning.</div>
            </div>
        </div>
        <div class="stepper-step">
            <div class="stepper-circle"></div>
            <div class="stepper-line"></div>
            <div class="stepper-content">
                <div class="stepper-title">18:10</div>
                <div class="stepper-status">Stock Check</div>
                <div class="stepper-time">Check all items stock order new.</div>
            </div>
        </div>
    </div>
</div>