.salary-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 5px solid #6B5B95;
    border-radius: 5px;
}

.guest-card {
    height: 280px;
    overflow: auto;
}

.stats {
    border-radius: 0.5rem;
    background-color: #ebebeb;
    padding: 15px;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 1);
    margin: 0px 10px;
}

.state-title{
  font-size: 17px;
}

