<div class="salary-card pb-3">
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <h5 class="mb-0">Guest List</h5>
        </div>
        <div>
            <a class="textlink">View All</a>
        </div>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="guest-card m-1">
        <div class="stats d-flex mb-2">
            <div class="flex-grow-1">
                <div class="d-flex">
                    <img src="users/avatar.svg" style="width: 30px;height: 30px;border-radius: 50%;">
                    <p class="state-title mb-0" style="margin-left: 10px;">Cara Stevens<br>
                                    <small class="text-muted" style="font-size: 12px;">Room:102</small></p>
                </div>
            </div>
            <div>
                <p class="state-title mb-0">12 June '20</p>
                <small class="text-muted"> 09:00-10:00</small>
            </div>
        </div>
         <div class="stats d-flex mb-2">
            <div class="flex-grow-1">
                <div class="d-flex">
                    <img src="users/avatar.svg" style="width: 30px;height: 30px;border-radius: 50%;">
                    <p class="state-title mb-0" style="margin-left: 10px;">Airi Satou<br>
                                    <small class="text-muted" style="font-size: 12px;">Room:105</small></p>
                </div>
            </div>
            <div>
                <p class="state-title mb-0">13 June '20</p>
                <small class="text-muted"> 11:00-12:00</small>
            </div>
        </div>
         <div class="stats d-flex mb-2">
            <div class="flex-grow-1">
                <div class="d-flex">
                    <img src="users/avatar.svg" style="width: 30px;height: 30px;border-radius: 50%;">
                    <p class="state-title mb-0" style="margin-left: 10px;">Jens Brincker<br>
                                    <small class="text-muted" style="font-size: 12px;">Room:302</small></p>
                </div>
            </div>
            <div>
                <p class="state-title mb-0">15 June '20</p>
                <small class="text-muted"> 09:30-10:30</small>
            </div>
        </div>
         <div class="stats d-flex mb-2">
            <div class="flex-grow-1">
                <div class="d-flex">
                    <img src="users/avatar.svg" style="width: 30px;height: 30px;border-radius: 50%;">
                    <p class="state-title mb-0" style="margin-left: 10px;">Angelica Ramos<br>
                                    <small class="text-muted" style="font-size: 12px;">Room:507</small></p>
                </div>
            </div>
            <div>
                <p class="state-title mb-0">16 June '20</p>
                <small class="text-muted">14:00-15:00</small>
            </div>
        </div>
         <div class="stats d-flex mb-2">
            <div class="flex-grow-1">
                <div class="d-flex">
                    <img src="users/avatar.svg" style="width: 30px;height: 30px;border-radius: 50%;">
                    <p class="state-title mb-0" style="margin-left: 10px;">Cara Stevens<br>
                                    <small class="text-muted" style="font-size: 12px;">Room:804</small></p>
                </div>
            </div>
            <div>
                <p class="state-title mb-0">18 June '20</p>
                <small class="text-muted"> 11:00-12:30</small>
            </div>
        </div>
         <div class="stats d-flex mb-2">
            <div class="flex-grow-1">
                <div class="d-flex">
                    <img src="users/avatar.svg" style="width: 30px;height: 30px;border-radius: 50%;">
                    <p class="state-title mb-0" style="margin-left: 10px;">Jacob Ryan<br>
                                    <small class="text-muted" style="font-size: 12px;">Room:705</small></p>
                </div>
            </div>
            <div>
                <p class="state-title mb-0">22 June '20</p>
                <small class="text-muted"> 13:00-14:15</small>
            </div>
        </div>
        
    </div>
</div>