.stat-card {
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

/* Colors */
.bg-purple {
    background-color: #eee7f8;
    color: #6B5B95;
}

.bg-blue {
    background-color: #E8F1FA;
    color: #4A7EBB;
}

.bg-orange {
    background-color: #F7F2E8;
    color: #B89B5E;
}

.bg-pink {
    background-color: #F6E9EE;
    color: #C48B9F;
}


.card-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 1;
    color: #999999;
}