.salary-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 5px solid #6B5B95;
    border-radius: 5px;
}

.profile-card {
    display: flex;
    justify-content: center;
}

.employeeimg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #e1d7fa;
}

.small-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    color: #808080;
}

.small-text {
    font-size: 12px;
    line-height: 1.2;
    color: #636363;
}

.small-info .list-group-item {
    padding: 8px;
    background-color: transparent;
    border: none;
}

.small-info {
    background-color: transparent;
    border: none;
}