<div class="row">
    <div class="col-lg-6">
        <div class="salary-card pb-3">
            <div class="d-flex p-1">
                <div class="flex-grow-1">
                    <h5 class="mb-0">Events Todays</h5>
                </div>
                <div>
                    <a class="textlink">View All</a>
                </div>
            </div>
            <mat-divider class="mb-3"></mat-divider>
            <div class="event-card m-1">
                <div class="eventitem">
                    <p class="m-0">Wedding - Grand Ballroom</p>
                    <p style="font-size: 12px;" class="text-muted m-0">10:00 AM - 4:00 PM</p>
                    <p style="font-size: 12px;" class="text-muted">250 Guests </p>
                </div>
                <div class="eventitem">
                    <p class="m-0">Business Conference</p>
                    <p style="font-size: 12px;" class="text-muted m-0">11:00 AM - 6:00 PM </p>
                    <p style="font-size: 12px;" class="text-muted">40 Guests </p>
                </div>
                <div class="eventitem">
                    <p class="m-0">Poolside Dinner</p>
                    <p style="font-size: 12px;" class="text-muted m-0">7:00 PM - 10:00 PM</p>
                    <p style="font-size: 12px;" class="text-muted">25 Guests </p>
                </div>
                <div class="eventitem">
                    <p class="m-0">Wedding Anniversary</p>
                    <p style="font-size: 12px;" class="text-muted m-0">8:00 PM - 12:00 PM</p>
                    <p style="font-size: 12px;" class="text-muted">200 Guests </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="salary-card pb-3">
            <div class="d-flex p-1">
                <div class="flex-grow-1">
                    <h5 class="mb-0">Upcoming Events</h5>
                </div>
                   <div>
                    <a class="textlink">View All</a>
                </div>
            </div>
            <mat-divider class="mb-3"></mat-divider>
            <div class="event-card m-1">
                <div class="upcoming__card">
                    <div class="upcoming__icon">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="upcoming__content">
                        <div class="upcoming__title">Corporate Meeting</div>
                        <div class="upcoming__description">
                            12 Aug | Conf. Hall A
                        </div>
                    </div>
                </div>
                <div class="upcoming__card">
                    <div class="upcoming__icon">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="upcoming__content">
                        <div class="upcoming__title">Birthday Party</div>
                        <div class="upcoming__description">
                            14 Aug | Lawn Area
                        </div>
                    </div>
                </div>
                <div class="upcoming__card">
                    <div class="upcoming__icon">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="upcoming__content">
                        <div class="upcoming__title">Engagement Ceremony</div>
                        <div class="upcoming__description">
                            16 Aug | Banquet Hall
                        </div>
                    </div>
                </div>
                <div class="upcoming__card">
                    <div class="upcoming__icon">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div class="upcoming__content">
                        <div class="upcoming__title">Business Conference</div>
                        <div class="upcoming__description">
                            19 Aug | Conf. Hall B
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>