.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  background-color: #d9ae5f;
  color: #ffffff;
  height: 56px;
}

.logo {
  margin-top: 8px;
}

.subnavbar {
  background-color: #d9ae5f;
  color: #ffffff;
  height: 56px;
}

