<div class="salary-card pb-2">
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <h5 class="mb-0">Room Type Occupancy</h5>
        </div>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="occupancy-card">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive" [colors]="chartOptions.colors" [legend]="chartOptions.legend"
            [theme]="chartOptions.theme">
        </apx-chart>
    </div>
</div>