<h1 mat-dialog-title>New Leave Balance</h1>
<div mat-dialog-content class="bgsecondary">
    <form class="row">
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Employee</mat-label>
                <mat-select required>
                    <mat-option *ngFor="let Staff of StaffList" [value]="Staff.Name">{{Staff.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Department</mat-label>
                <mat-select required>
                    <mat-option *ngFor="let Department of DepartmentList" [value]="Department.Name">{{Department.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Year</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
         <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Leave Type</mat-label>
                <mat-select required>
                    <mat-option *ngFor="let LeaveType of LeaveTypeList" [value]="LeaveType.leaveTypeName">{{LeaveType.leaveTypeName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Total Allocated</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>
         <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Used Leave</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>
         <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Carry Forward Leaves</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>
         <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Remaining Leaves</mat-label>
                <input matInput type="number" required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Status</mat-label>
                <mat-select required>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="bgaccent">Save</button>
    <button mat-raised-button [mat-dialog-close]="true" class="bgsecondary">Close</button>
</div>