.salary-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 5px solid #6B5B95;
    border-radius: 5px;
}

.stat-card {
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

/* Colors */
.bg-purple {
    background-color: #eee7f8;
    color: #6B5B95;
}