<h1 mat-dialog-title>New Booking</h1>
<div mat-dialog-content class="bgsecondary">
    <form class="row">
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">First Name</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Last Name</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Package</mat-label>
                <mat-select required>
                    <mat-option value="All inclusive">All inclusive</mat-option>
                    <mat-option value="Business">Business</mat-option>
                    <mat-option value="Wedding">Wedding</mat-option>
                    <mat-option value="Strater">Strater</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Room Type</mat-label>
                <mat-select required>
                    <mat-option *ngFor="let RoomType of RoomTypeList"
                        [value]="RoomType.name">{{RoomType.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Status</mat-label>
                <mat-select required>
                    <mat-option value="Booked">Booked</mat-option>
                    <mat-option value="Cancelled">Cancelled</mat-option>
                    <mat-option value="CheckIn">CheckIn</mat-option>
                    <mat-option value="CheckOut">CheckOut</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">CheckIn & CheckOut Date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint style="font-size: 10px;">DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Payment</mat-label>
                <mat-select required>
                    <mat-option value="Paid">Paid</mat-option>
                    <mat-option value="Unpaid">Unpaid</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Email</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
        <div class="col-lg-4">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Mobile Number</mat-label>
                <input matInput required>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="bgaccent">Save</button>
    <button mat-raised-button [mat-dialog-close]="true" class="bgsecondary">Close</button>
</div>