// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import "../node_modules/@angular/material/prebuilt-themes/azure-blue.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

// Primary = #d9ae5f

body {
  color-scheme: light;
  background-color: #ffffff;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bgprimary {
  background-color: #d9ae5f !important;
  color: #ffffff !important;
}

.bgprimary:hover {
  background-color: #b08b4f !important;
}

.bgsecondary {
  background-color: #fff8e1 !important;
  color: #555555 !important;
}

.bgsecondary {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05) !important;
}

.bgaccent {
  background-color: #f5f5f5 !important;
  color: #d9ae5f !important;
}

// .mat-mdc-radio-checked .mat-mdc-radio-inner-circle {
//   background-color: #d9ae5f !important;
// }
.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background>.mdc-radio__inner-circle {
  background-color: #d9ae5f !important;
}

.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background>.mdc-radio__outer-circle {
  border-color: #d9ae5f !important;
}