// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "app/shared/style/base" as *;
@import "../node_modules/@angular/material/prebuilt-themes/azure-blue.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";

// Primary = #d9ae5f

body {
  color-scheme: light;
  background-color: #FAFAFA;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto;
}

:host {
  --mdc-outlined-text-field-focus-outline-color: #6B5B95 !important;
  --mdc-filled-text-field-focus-active-indicator-color: #6B5B95 !important;
  --mdc-outlined-text-field-focus-label-text-color: #6B5B95 !important;
}

.bgprimary {
  background-color: #6B5B95 !important;
  color: #FFFFFF !important;
}

.bgsecondary {
  background-color: #F3F1F8 !important;
  color: #5F5A73 !important;
}

.bgaccent {
  background-color: #C48B9F !important;
  color: #FFFFFF !important;
}

// .mat-mdc-radio-checked .mat-mdc-radio-inner-circle {
//   background-color: #d9ae5f !important;
// }
.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background>.mdc-radio__inner-circle {
  border-color: #6B5B95 !important;
}

.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background>.mdc-radio__outer-circle {
  border-color: #6B5B95 !important;
}

.ngx-pagination .current {
  background: #6B5B95 !important;
}

.mat-mdc-dialog-surface {
  border-radius: 10px !important;
}

.mat-mdc-dialog-title::before {
  height: 20px !important;
}

.mat-mdc-dialog-title {
  padding: 0px 10px !important;
  background-color: #6B5B95 !important;
  color: #FFFFFF !important;
}

.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  color: red;
  font-weight: bolder;
}

.mat-mdc-select-value-text {
  font-size: 14px !important;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font-size: 14px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  // background-color: var(--mdc-filled-text-field-container-color, var(--mat-app-surface-variant));
  background-color: transparent !important;
}

.mdc-text-field {
  padding: 0px !important;
}

.mat-mdc-form-field-bottom-align::before {
  height: 0px !important;
}

mat-option {
  font-size: 14px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
  color: #6B5B95 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #6B5B95 !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: #6B5B95 !important;
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: #6B5B95 !important;
  background-color: #6B5B95 !important;
}

.mat-calendar-body-selected {
  background-color: #6B5B95 !important;
}

.mat-calendar-body-in-range::before {
  background: #e1d7fa !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: #e1d7fa !important;
}

.mat-mdc-dialog-actions {
  padding: 5px !important;
}

.mat-clock-dial-cell.mat-clock-dial-cell-active {
  background-color: #6B5B95 !important;
}

.mat-clock-dial-hand:not(.mat-clock-dial-hand-disabled) {
  background-color: #6B5B95 !important;
}

.mat-clock-dial:before {
  background-color: #6B5B95 !important;
}

.mat-clock-dial-value.mat-clock-dial-value-active {
  background-color: #e1d7fa !important;
}

.mat-time-period-item-active {
  color: #6B5B95 !important;
  background-color: #e1d7fa !important;
}

.mat-mdc-button:not(:disabled) {
  color: #6B5B95 !important;
}

.mat-timepicker-toggle.mat-timepicker-toggle-active button {
  color: #6B5B95 !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #6B5B95 !important;
}
.textlink{
  cursor: pointer;
  color: #6B5B95;
  text-decoration: none;
}

//default scrollbar
::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #6B5B95;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #a0a0a0;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}