<div class="salary-card pb-2">
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <h5 class="mb-0">Upcomming Holidays</h5>
        </div>
        <div>
            <a class="textlink">View All</a>
        </div>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="holiday-card">
        <ul class="holiday-list">
            <li class="holiday-item">
                <div class="date">
                    <span class="day">14</span>
                    <span class="month">Jan</span>
                </div>
                <div class="details">
                    <h4>Makar Sankranti</h4>
                    <p>Wednesday</p>
                </div>
                <span class="badge full">Full Day</span>
            </li>

            <li class="holiday-item">
                <div class="date">
                    <span class="day">26</span>
                    <span class="month">Jan</span>
                </div>
                <div class="details">
                    <h4>Republic Day</h4>
                    <p>Monday</p>
                </div>
                <span class="badge full">Full Day</span>
            </li>

            <li class="holiday-item">
                <div class="date">
                    <span class="day">03</span>
                    <span class="month">March</span>
                </div>
                <div class="details">
                    <h4>Holi</h4>
                    <p>Tuesday</p>
                </div>
                <span class="badge half">Half Day</span>
            </li>
            <li class="holiday-item">
                <div class="date">
                    <span class="day">04</span>
                    <span class="month">March</span>
                </div>
                <div class="details">
                    <h4>Dhuleti</h4>
                    <p>Wednesday</p>
                </div>
                <span class="badge full">Full Day</span>
            </li>
        </ul>
    </div>
</div>