<div class="salary-card pb-2">
    <div class="d-flex p-1">
        <div class="flex-grow-1">
            <h5 class="mb-0">Upcomming Holidays</h5>
        </div>
        <div>
            <a class="textlink">View All</a>
        </div>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="holidaycard">
        <div class="textBox py-1">
            <div class="textContent">
                <p class="h1 m-0">New Year Day (01 Jan)</p>
                <span class="span">65 days left</span>
            </div>
        </div>
    </div>
    <div class="holidaycard">
        <div class="textBox py-1">
            <div class="textContent">
                <p class="h1 m-0">Earth Day (22 April)</p>
                <span class="span">117 days left</span>
            </div>
        </div>
    </div>
    <div class="holidaycard">
        <div class="textBox py-1">
            <div class="textContent">
                <p class="h1 m-0">Halloween (31 Oct)</p>
                <span class="span">334 days left</span>
            </div>
        </div>
    </div>
    <div class="holidaycard">
        <div class="textBox py-1">
            <div class="textContent">
                <p class="h1 m-0">Valentines Day (14 Feb)</p>
                <span class="span">110 days left</span>
            </div>
        </div>
    </div>
    <div class="holidaycard">
        <div class="textBox py-1">
            <div class="textContent">
                <p class="h1 m-0">Christmas (25 Dec)</p>
                <span class="span">56 days left</span>
            </div>
        </div>
    </div>
    <div class="holidaycard">
        <div class="textBox py-1">
            <div class="textContent">
                <p class="h1 m-0">World Environment Day (05 June)</p>
                <span class="span">220 days left</span>
            </div>
        </div>
    </div>
    <div class="holidaycard">
        <div class="textBox py-2">
            <div class="textContent">
                <p class="h1 m-0">International Youth Day (12 Aug)</p>
                <span class="span">279 days left</span>
            </div>
        </div>
    </div>
</div>